.product-specific-h-one {
  margin-bottom: 0px;
}
.product-specific-h-two {
  margin: 0px 10px;
}
.jacket-image {
  max-width: 40%;
  border: var(--dark-blue);
  border-style: solid;
  align-items: left;
}

.product-image {
  text-align: center;
}

.picture-swipe {
  text-align: center;
}
.jacket-price {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.links-in-text {
  text-transform: capitalize;
  margin: 10px;
  font-size: 1.1rem;
}

.fa-star {
  color: var(--green);
  padding-left: 10px;
  margin-bottom: 10px;
}

.colours h2,
.sizes h2,
.sizes {
  text-align: center;
}

.colour-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
.colour-box {
  display: flex;
  font-size: 1.2rem;
  margin: 3px;
}

.orange {
  color: #fea037;
}

.fuchsia {
  color: #cd318f;
}

.black {
  color: #343434;
}

.green {
  color: #346f56;
}

.red {
  color: #d00008;
}

.yellow {
  color: #cdab3d;
}

.sizes .fa-circle {
  padding: 10px;
  font-size: 1.9rem;
}

.cta-container,
.add-wishlist {
  text-align: center;
  margin-top: 10px;
}

.add-wishlist {
  display: block ruby;
  font-size: 1.2rem;
}

.user-reviews {
  display: block ruby;
}

.user-reviews h3 {
  margin-bottom: 0px;
}
