body {
  position: relative;
}
.product-specific-h-one {
  margin-bottom: 0px;
}
.product-specific-h-two {
  margin: 0px 10px;
}
.jacket-image {
  max-width: 200px;
  border: var(--dark-blue);
  border-style: solid;
  align-items: left;
}

.product-image {
  text-align: center;
}

.jacket-price {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.links-in-text {
  text-transform: capitalize;
  margin: 10px;
  font-size: 1.1rem;
}

.fa-star {
  color: var(--green);
  padding-left: 10px;
  margin-bottom: 10px;
}

.colours h2,
.sizes h2,
.sizes {
  text-align: center;
}

.popup-box {
  max-width: 300px;
  border: solid var(--dark-blue);
  min-height: 320px;
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 18%;
  transform: translate(-15%, -50%);
  display: none;
}
.popup-box h2 {
  text-align: center;
}

.cta-container-pop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}
.cta-pop-up {
  font-size: 1rem;
  border: solid var(--orange);
  margin-bottom: 5px;
}

.cta-pop-up:hover {
  padding: 7px 40px;
  border: none;
}

.cta-secondary {
  background-color: var(--white);
  color: var(--orange);
  border: solid var(--orange);
  font-size: 1rem;
}

.cta-pop-up:hover {
  padding: 7px 40px;
}

.cta-secondary:hover {
  padding: 7px 40px;
  border: none;
  color: var(--white);
}
#pop-up-cta {
  display: none;
}
#pop-up-cta:checked + .popup-box {
  display: block;
}

.payment-wrapper {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.currency {
  text-transform: uppercase;
}
.estimated-shipping {
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: left; /*necessary for the pop-up box*/
}

.total {
  font-weight: 700;
}

hr {
  max-width: 250px;
  margin: 10px;
}
.colour-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
.colour-box {
  display: flex;
  font-size: 1.2rem;
  margin: 3px;
}

.colour-box:hover {
  text-decoration: underline;
  cursor: pointer;
}

.orange {
  color: #fea037;
}

.fuchsia {
  color: #cd318f;
}

.black {
  color: #343434;
}

.green {
  color: #346f56;
}

.red {
  color: #d00008;
}

.yellow {
  color: #cdab3d;
}

.size-choices {
  display: flex;
}

.size-choices li:first-child {
  padding-left: 0px;
}
.size-choices button {
  border: solid var(--dark-blue);
  border-radius: 100px;
  background-color: transparent;
  color: var(--dark-blue);
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 5px;
  width: 45px;
  font-size: 1rem;
}

.sizes button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
}

.cta-container,
.add-wishlist {
  text-align: center;
  margin-top: 10px;
}

.add-wishlist {
  display: block ruby;
  font-size: 1.2rem;
}

.user-reviews {
  display: block ruby;
}

.user-reviews h3 {
  margin-bottom: 0px;
}
