.contact-form {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

.instructions-para {
  margin-bottom: 5rem;
}

form button {
  border: none;
}

.contact-form p {
  margin: 0 0 1.5rem;
}
.contact-field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  font-weight: var(--bold);
}

.contact-field-wrapper span {
  color: red;
}

.contact-field {
  height: 2rem;
}

#message {
  height: 6rem;
}

.error-warning {
  color: red;
  margin-bottom: 0;
  display: none;
}

.success-message {
  color: green;
  display: none;
}

.search-box {
  margin: 10px;
  max-width: 400px;
  height: 40px;
  border: 1px solid var(--primary-colour);
}

.search-box input {
  padding: 10px;
  width: 80%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.map-wrapper {
  max-width: 400px;
  border: 1px solid var(--dark-blue);
  margin: 10px;
}

.google-map {
  width: 100%;
}

.store-search-info h3 {
  margin-left: 1rem;
  font-weight: var(--bold);
}

.store-search-info p {
  margin-bottom: 0;
}

dt {
  margin: 1.25rem 1rem;
  font-weight: var(--bold);
}

dl {
  margin-right: 1rem;
}

@media only screen and (min-width: 1280px) {
  main {
    margin-left: 50px;
  }
}
