h1,
h2 {
  font-family: "Alegreya", serif;
  font-size: 36px;
  color: #fff;
  margin: 0px;
  font-style: normal;
}

body {
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}
main {
  margin-bottom: 0px;
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9;
}

.content h1,
.content h2,
.content p {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0px;
}

.content h1,
.content h2 {
  padding-top: 10px;
  margin-bottom: 0px;
}
.content p {
  margin-top: 0px;
  padding-bottom: 10px;
}

.main {
  background-image: url(../images/homepage/main-picture.jpg);
  min-height: 700px;
  background-size: cover;
  background-position: center right;
  padding-top: 40px;
  position: relative;
}

.homepage-intro-text {
  position: absolute;
  top: 50%;
}

.homepage-intro-text p {
  margin-bottom: 15px;
}
.womens-collection {
  top: 25%;
}

.mens-collection {
  top: 75%;
}

.women {
  background-image: url(../images/homepage/women-jackets.jpg);
}

.men {
  background-image: url(../images/homepage/men-jackets.jpg);
}

.women,
.men {
  min-height: 350px;
  background-size: cover;
  padding-top: 40px;
}

.about {
  background-image: url(../images/homepage/about-us.jpg);
  background-size: cover;
  background-position: center;
  min-height: 750px;
  padding-top: 40px;
}
