@media only screen and (min-width: 487px) {
  /* --------------- Pop-up box in product specific jacket --------------- */

  .popup-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 724px) {
  /* --------------- Header, Footer & Body --------------- */
  header {
    display: none;
  }

  .breadcrumbs a,
  .breadcrumbs i,
  .breadcrumbs p {
    margin-top: 20px;
  }

  .main {
    background-image: url(../images/homepage/main-picture.jpg);
    background-position: left;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
  }

  footer ul {
    display: block;
  }

  footer p {
    color: var(--secondary-colour);
    margin: 1rem;
    text-transform: uppercase;
    font-size: 1.125rem;
  }

  .footer-info a,
  .footer-info p {
    color: var(--secondary-colour);
    text-decoration: none;
    font-weight: 400;
  }

  .footer-info li {
    list-style-type: none;
    padding: 0px 15px;
  }

  .footer-info address {
    font-size: 1rem;
  }

  .contact {
    text-align: left;
  }

  .contact i {
    padding-right: 15px;
  }

  .about-footer {
    text-align: center;
  }

  .social-media {
    margin-right: 1rem;
    text-align: right;
    text-decoration: none;
    color: var(--white);
  }

  .social-media-icons {
    display: inline-flex;
    justify-content: flex-end;
    min-width: 100%;
  }

  .social-media-icons li {
    padding: 0px 15px;
  }

  /* --------------- Navbars mobile & desktop --------------- */
  .navbar-mobile-bottom {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  .navigation-menu-links {
    display: flex;
    text-transform: uppercase;
    font-size: 1.125rem;
    align-items: center;
  }
  .navigation-menu-links a {
    color: var(--primary-colour);
    text-decoration: none;
    padding: 5px;
  }

  .navigation-menu-links a:hover {
    text-decoration: underline;
  }
  .logo {
    margin-left: 20px;
    width: 120px;
    padding-left: 50px;
  }

  /* --------------- Home page --------------- */
  .content {
    display: flex;
    flex-direction: row;
  }

  .main,
  .about {
    width: 100%;
  }

  .women,
  .men {
    width: 50%;
    background-position: center;
  }

  .womens-collection-intro,
  .mens-collection-intro {
    top: 25%;
    max-width: 100%;
    text-align: center;
  }

  /* --------------- Women's jackets --------------- */

  .items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .jacket-image {
    max-width: 200px;
  }

  /* --------------- Alaska --------------- */
  .jacket-info {
    max-width: 50%;
    margin: auto;
  }
  .product-wrapper {
    display: flex;
    margin-top: 2rem;
  }
  .product-specific-page-jacket-image {
    max-width: 323px;
  }

  .product-wrapper-info {
    margin-left: 50px;
    text-align: left;
  }
  .product-wrapper-info .colours h2 {
    margin-top: 0px;
    margin-left: 0px;
    text-align: left;
  }
  .colour-wrapper {
    justify-content: start;
  }
  .product-wrapper-info .sizes h2 {
    margin-left: 0px;
    text-align: left;
  }
  .sizes .first-circle {
    padding-left: 0px;
  }
  .cta-container {
    text-align: left;
    margin-top: 10px;
  }

  .add-wishlist {
    justify-content: left;
  }

  /* --------------- Payment --------------- */
  .form-wrapper,
  .payment-section {
    max-width: 400px;
  }

  .product-image {
    text-align: left;
  }

  .specs-wrapper {
    justify-content: flex-start;
  }
  /* --------------- Contact --------------- */

  .store-search {
    display: flex;
  }
  .store-search-info {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 950px) {
  /* --------------- Home page --------------- */

  .main,
  .about {
    min-height: 1000px;
  }

  .homepage-intro-text {
    margin-top: 0px;
    max-width: 60%;
    text-align: left;
  }

  .homepage-intro-text h1,
  .homepage-intro-text h2 {
    text-align: left;
  }
  .homepage-intro-text p {
    text-align: left;
  }
  .women,
  .men {
    min-height: 500px;
  }
  .womens-collection-intro {
    text-align: right;
    max-width: 30%;
    left: 0%;
  }
  .womens-collection-intro h2,
  .womens-collection-intro p {
    text-align: right;
  }

  .mens-collection-intro {
    max-width: 30%;
    right: 0%;
  }
}

@media only screen and (min-width: 1280px) {
  /* --------------- Women's jackets --------------- */
  .items-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .search-box,
  .map-wrapper {
    min-width: 650px;
  }

  /* --------------- Payment --------------- */
  .form-wrapper {
    max-width: 550px;
  }

  .form-wrapper-small {
    min-width: 250px;
  }
}
