.breadcrumbs li {
  display: block ruby;
  padding: 0px;
  flex-wrap: wrap;
}

h3 {
  margin-bottom: 0px;
}
.jacket-image {
  max-width: 200px;
  border: var(--dark-blue);
  border-style: solid;
  align-items: left;
  margin: 10px;
}

.colour-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
}
.colour-box {
  display: flex;
  font-size: 1.2rem;
  margin: 10px;
}

.orange {
  color: #fea037;
}

.payment-wrapper {
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.currency {
  text-transform: uppercase;
}
.estimated-shipping {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.total {
  font-weight: 700;
}

hr {
  max-width: 250px;
  margin: 10px;
}
input {
  min-height: 20px;
  margin-bottom: 7px;
}
.form-wrapper {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin: 10px;
}

.form-wrapper-location {
  max-width: 350px;
  display: flex;
  justify-content: space-between;
}
.form-wrapper-specs {
  display: flex;
  flex-direction: column;
}
.payment-method {
  margin: 10px;
  font-size: 3rem;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}

.card-wrapper-field {
  display: grid;
}

.fa-cc-visa {
  font-size: 2rem;
  padding-left: 20px;
}

.cta-check-out {
  margin: 20px 10px;
}

.popup-box {
  max-width: 340px;
  border: solid var(--dark-blue);
  line-height: 40px;
  text-align: left;
  background-color: var(--white);
  position: fixed;
  left: 10%;
  top: 20%;
  transform: translate(-10%, -20%);
  display: none;
}
.popup-box h2 {
  text-align: center;
}
#toggle {
  display: none;
}
#toggle:checked + .popup-box {
  display: block;
}
