h2 {
  margin: 2rem 1rem 1rem;
  font-weight: var(--bold);
}
.product-info {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  /*   justify-content: space-around;
  align-items: flex-start; */
}

.product-image,
.jacket-info {
  flex-basis: 45%;
  /* border: 1px solid red; */
}

.jacket-image {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
}

.product-heading {
  margin-bottom: 1rem;
}

/* Removing previous styles */
.product-heading h1,
.product-heading p {
  margin: 0;
}

/* Adding new ones */
.product-heading p {
  margin-left: 1rem;
}

.product-heading h1 {
  margin-left: 1rem;
  font-weight: var(--bold);
  font-size: 2.5rem;
}

.product-subheading {
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
}

.product-subheading p {
  font-size: 2.5rem;
}

.product-subheading a {
  color: var(--terciary-colour);
}

.colour-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
}

.colour-box {
  display: flex;
  flex-direction: column;
}

.colour-box p {
  margin: 0;
}

.colour-box i {
  font-size: 1.5rem;
}

.size-choices {
  justify-content: flex-start;
  margin-left: 1rem;
}
.size-choices button {
  font: var(--copy);
  padding: 0.5rem;
}

.call-to-action-div {
  margin: 2rem 1rem;
  text-align: center;
}

.call-to-action-div-one {
  text-align: center;
}

.cta-specific-product {
  border: none;
  width: 90%;
}

.cta-specific-product-one {
}

.item-description p {
  margin-bottom: 0;
}

.user-reviews {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-left: 1rem;
  flex-wrap: wrap;
}

.user-reviews h3 {
  margin-bottom: 0.25rem;
}

.star-wrapper {
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: var(--terciary-colour);
}
