/* --------------- Document level adjustments --------------- */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
:root {
  /* --------------- Colour palette --------------- */
  --primary-colour: #265591;
  --secondary-colour: #1e1e1e;
  --terciary-colour: #037327;
  --white: #fff;

  /* --------------- Fonts mobile --------------- */
  --headings-h1: 1.625rem "Quicksand", sans-serif;
  --headings-h2: 1.375rem "Quicksand", sans-serif;
  --headings-h3: 1.125rem "Raleway", sans-serif;
  --headings-h4: 1.125rem "Raleway", sans-serif;
  --copy: 1rem "Raleway", sans-serif;
  --cta: 1.25rem "Quicksand", sans-serif;
  --cta-small: 1rem "Quicksand", sans-serif;
  --bold: 600;
  --semi-bold: 500;
}

/* --------------- Header & Logo --------------- */

header {
  background-color: var(--white);
  /*border-bottom: 2px solid #26559180;*/
  /*position: fixed;*/
  width: 100%;
  /*z-index: 10; /*header disappears from homepage when the z-index is removed*/
  text-align: center;
}

.logo {
  width: 90px;
  margin-top: 5px;
}

/* --------------- Headings, body, and paragraphs --------------- */

h1,
h2 {
  text-align: left;
  font: var(--headings-h1);
  /*margin: 5px 10px;*/
  font-weight: var(--bold);
  color: var(--secondary-colour);
  margin: 2.5rem 1rem;
}

h2 {
  font: var(--headings-h2);
  /*margin-top: 15px;*/
}

h3 {
  font: var(--headings-h3);
  /*margin: 10px;*/
}

h4 {
  font: var(--headings-h4);
}

body {
  min-height: 100vh;
  margin: 0px;
  font: var(--copy);
  text-align: left;
  color: var(--secondary-colour);
}

main {
  /*margin-bottom: 75px;*/
  margin-bottom: 4.688rem;
}

p {
  margin: 0 1rem 1.5rem;
  line-height: 1.5rem;
}

address {
  font-style: normal;
}
/* --------------- Breadcrumbs --------------- */

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1rem;
  flex-wrap: wrap;
  border-top: 1px solid #26559180;
  border-bottom: 1px solid #26559180;
}

.breadcrumbs a,
.breadcrumbs i,
.breadcrumbs p {
  padding: 5px;
  margin-left: 0;
}

.breadcrumbs p {
  margin: 0;
}

.breadcrumbs-previous {
  color: var(--secondary-colour);
  /*font-weight: var(--bold);*/
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--primary-colour);
  font-weight: var(--bold);
}
/* --------------- Links in text --------------- */

p a {
  color: var(--primary-colour);
  text-decoration: underline;
  font-weight: var(--bold);
}

/* --------------- Buttons --------------- */

.cta {
  background-color: var(--primary-colour);
  box-shadow: 0 0 1rem var(--white);
  padding: 5px 35px;
  border-radius: 50px;
  color: var(--white);
  font: var(--cta);
  font-weight: var(--bold);
  text-decoration: none;
  transition: all 0.5s;
}

.cta:hover {
  border-radius: 5px;
  box-shadow: none;
}

.cta-small {
  box-shadow: none;
  padding: 5px 20px;
  font: var(--cta-small);
}

/* --------------- Navbar Global --------------- */

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  margin: 0;
}

li {
  padding: 10px;
  text-align: center;
}

/* --------------- Navbar mobile bottom --------------- */

.navbar-mobile-bottom {
  position: fixed;
  min-width: 100%;
  bottom: 0;
  z-index: 10; /*navigation bar at the bottom disappears from homepage when z-index removed*/
  /*border-top: 1px solid var(--primary-colour);*/
}

.navbar-mobile-bottom ul {
  background-color: var(--white);
}

.navbar-mobile-bottom a {
  color: var(--secondary-colour);
  text-decoration: none;
  display: block;
}

a.active {
  color: var(--primary-colour);
  font-weight: var(--bold);
}

.navbar-mobile-bottom i {
  display: block;
}

/* --------------- Navbar desktop --------------- */

.navigation-menu-links {
  display: none;
}

.active {
  font-weight: var(--bold);
}

/* --------------- Footer --------------- */

footer {
  display: none;
  position: sticky;
  top: 100%;
}

.footer-info li {
  text-align: left;
}
