h2 {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

p {
  margin-bottom: 0.75rem;
}

.items {
  margin: 1rem 1rem 2.5rem;
  display: flex;
  border: 1px solid grey;
  padding: 1rem;
  width: fit-content;
}

.items i {
  margin-left: 1rem;
}

.jacket-image {
  width: 110px;
  max-height: 150px;
}

/* .jacket-info {
  width: 200px;
  margin-left: 1rem;
} */

.icons-box {
  display: flex;
  justify-content: space-between;
}

.update-number-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
