.favs-para {
  margin-left: 1rem;
  grid-column: 1 / -1;
}

.items {
  width: fit-content;
}

.product-heading {
  margin-left: 1rem;
}

.jacket-image {
  width: 110px;
  max-height: 150px;
}

h3 {
  font: var(--headings-h2);
  margin: 0;
}

p {
  margin: 0;
}

.product-heading i {
  margin-top: 1rem;
  margin-left: 0;
  color: red;
  cursor: pointer;
}

.interactions .cta-small {
  border: none;
}

/* ---------- Modal popup ---------- */

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0.15rem);
  z-index: 5;
}

.popup-box {
  max-width: 300px;
  border: 1px solid var(--primary-colour);
  min-height: 250px;
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 18%;
  z-index: 10;
  transform: translate(-15%, -50%);
}

.close-modal {
  float: right;
  background-color: transparent;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
}
.popup-box h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.cta-container-pop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.cta-container-pop a {
  font-size: 1rem;
  margin-bottom: 5px;
  color: var(--white);
}

.cta-container-pop a.cta-secondary {
  background-color: var(--white);
  color: var(--primary-colour);
  box-shadow: none;
  border: 1px solid var(--primary-colour);
}

.cta-secondary:hover {
  border: 1px solid var(--primary-colour);
}

.payment-wrapper {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}

.payment-wrapper p {
  margin: 0 1rem;
}

.total {
  font-weight: var(--bold);
  margin: 1rem 0;
}
