.items {
  margin: 10px;
  display: flex;
}

.items i {
  font-size: 1.7rem;
  padding-left: 10px;
  margin-top: 0px;
}
.jacket-image {
  max-width: 150px;
  border: var(--dark-blue);
  border-style: solid;
  /*align-items: left;*/
}

.jacket-info {
  max-width: 200px;
}

.jacket-name {
  text-transform: uppercase;
  margin: 0px 10px;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--dark-blue);
}

.jacket-description {
  margin: 0px 10px;
}

.jacket-price {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0px;
}

.fa-heart:hover {
  color: var(--orange);
  cursor: pointer;
}

@media only screen and (min-width: 1280px) {
  main {
    margin-left: 50px;
  }
}
