.items {
  margin: 10px;
}

.items i {
  font-size: 1.7rem;
  padding-left: 10px;
  margin-top: 0px;
}
.jacket-image {
  max-width: 40%;
  border: var(--dark-blue);
  border-style: solid;
  align-items: left;
}

.jacket-info {
  float: right;
  min-width: 55%;
  inline-size: 178px;
  overflow-wrap: break-word;
}

.jacket-name {
  text-transform: uppercase;
  margin: 0px 10px;
  font-size: 1.4rem;
  font-weight: 700;
}

.jacket-description {
  margin: 0px 10px;
}

.jacket-price {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0px;
}
